<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
            <h5>{{title}}</h5>
        </div>
        <div class="widget-content">
            <div id='datagrid'></div>
            <div id='win'>
                <form id='form1' action="" method="post"></form>
            </div>

        </div>
    </div>
</div>

<script>
    var datagrid;
    var form1;
    var form1_defaults = {id:'',content:'',key:'',name:'',status:'on',type:'loan'};
    var win;


    $.ligerDefaults.Grid.formatters['formatType'] = function (data, column) {
        var list = {sms:'短信模板',email:'邮件模板',message:'站内消息'};
        var text = list[data] ? list[data] : '未知';
        return "<span class='by label label-important'>" + text + "</span>";
    };

    $.ligerDefaults.Grid.formatters['formatStatus'] = function (data, column) {
        var list = {regular:'正常',singular:'禁用'};
        var text = list[data] ? list[data] : '未知';
        return "<span class='by label label-info'>" + text + "</span>";
    };

    //编辑操作
    function edit() {
        var row = datagrid.getSelected();
        if (!row) {
            $.ligerDialog.error('请选择要编辑的消息模板');
            return false;
        } else {
            if(row.type == 'sms'){
                form1.getEditor('title').setDisabled();
            }else{
                form1.getEditor('title').setEnabled();
            }
            form1.setData(row);
        }
        $('#form1').attr('action', "{{url('MessageTemplate/update')}}");
        win._setTitle('编辑 [' + row.name + '] 消息模板');
        win.show();
    }


    //提交表单
    function submitform() {
        if (form1.valid()) {
            var form_data = form1.getData();
            $.post($('#form1').attr('action'), form_data, function (response) {
                if (response.status == 0) {
                    $.ligerDialog.error(response.message);
                } else {
                    $.ligerDialog.success(response.message);
                    datagrid.reload();
                    win.hide();
                }
            });
        } else {
            $.ligerDialog.error("表单没有通过验证,请检查红色标记的表单项");
        }
    }

    $(function () {
        datagrid = $('#datagrid').ligerGrid({
            width: "100%",
            height: "100%",
            url: "{{url('MessageTemplate/index')}}",
            columns: [{
                display: "编号",
                name: "id",
                align: "center",
                width: 40,
                minwidth: 40,
                frozen: true
            }, {
                display: "消息模板名称",
                name: "name",
                align: "center",
                width: 250,
                minwidth: 60
            },{
                display: "消息调用名称",
                name: "keyword",
                align: "center",
                width: 150,
                minwidth: 60
            }, {
                display: "消息类型",
                name: "type",
                align: "center",
                width: 100,
                minwidth: 60,
                type: 'formatType'
            },{
                display: "状态",
                name: "status",
                align: "center",
                type: 'formatStatus',
                width: 100,
                minwidth: 60
            }],
            frozen: true,
            toolbar: {
                items: [
                    {
                        text: "编辑",
                        icon: "icon-edit",
                        click: edit
                    }
                ]
            }
        });

        form1 = $('#form1').ligerForm({
            inputwidth: 500,
            labelwidth: 120,
            space: 10,
            validate: true,
            righttoken: "&nbsp;",
            labelalign: "right",
            align: "left",
            fields: [
                {
                    id: "id", name: "id", newline: false, type: "hidden", display: "id"
                },
                {
                    id: "name",
                    name: "name",
                    newline: true,
                    type: "textbox",
                    display: "消息模板名称",
                    width: 250,
                    height: 30,
                    aftercontent: '',
                    validate: { required: true },
                    editor: {width: 250}
                },
                {
                    id: "keyword",
                    name: "keyword",
                    newline: true,
                    type: "textbox",
                    display: "调用名称",
                    width: 250,
                    height: 30,
                    aftercontent: '用于代码处理,该项为只读',
                    validate: { required: true },
                    editor: {width: 250,readonly:true}
                }, {
                    id: "title",
                    name: "title",
                    newline: true,
                    type: "textbox",
                    display: "消息模板标题",
                    width: 250,
                    height: 30,
                    aftercontent: '消息模板标题,短信类型不可用',
                    validate: {
                        required: false
                    },
                    editor: {width: 250}
                }, {
                    id: "content",
                    name: "content",
                    newline: true,
                    type: "textarea",
                    display: "模板内容",
                    width: 520,
                    validate: { required: true },
                    editor: {
                        width: 520,
                        height: 300

                    }
                }, {
                    id: "status",
                    name: "status",
                    newline: true,
                    type: "combobox",
                    display: "状态",
                    width: 80,
                    height: 30,
                    validate: { required: true },
                    editor: {
                        cancelable:false,
                        data: [
                            {id: "regular", text: "可用"},
                            {id: "singular", text: "禁用"}
                        ]
                    }
                }]
        });

        win = $.ligerDialog({
            width: 700,
            height: 600,
            target: $('#win'),
            modal: true,
            show: false,
            title: "编辑消息模板",
            slide: true,
            buttons: [
                {
                    text: "确认提交",
                    icon: "icon-edit",
                    onclick: submitform
                }
            ]
        });
        win.hide();
    });
</script>