{%include "common/header.html"%}
<body>
<div style="width:512px;height:222px;left:50%;top:50%;margin-left:-256px;margin-top:-111px;position:absolute">
    <div class="widget-msgbox">
            <div class="widget-title"> <span class="icon"> <i class="icon-minus-sign"></i> </span>
                <h5>出现错误</h5>
            </div>
            <div class="widget-msginfo">
                <div class="error_ex">
                    <h3>{{message}}</h3>
                    <p><span id="wait">{{timeout}}</span>秒后进行跳转</p>
                    <a id="link" class="btn btn-danger btn-big"  href="{{link}}">立即跳转</a>
                </div>
                <br/>
            </div>
        </div>
</div>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait');
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = '{{url}}';
                clearInterval(interval);
            }
        }, 1000);
    })();
</script>
</body>
</html>