<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
            <h5>{{title}}</h5>
        </div>
        <div class="widget-content">
            <div id='datagrid'></div>
            <div id='win'>
                <form id='form1' action="" method="post"></form>
            </div>

        </div>
    </div>
</div>

<script>
    var datagrid;
    var form1;
    var form1_defaults = {title:'',type:'notice',content:'',hits:'0',link:'',keyword:'',description:'',status:'on'};
    var win;

    $.ligerDefaults.Grid.formatters['formatStatus'] = function (data, column) {
        var list = {on: '正常',off:'禁用'};
        return list[data] ? list[data] : data;
    };


    //添加操作
    function add() {
        form1.setData(form1_defaults);
        $('#form1').attr('action', "{{url('Notice/add')}}");
        win._setTitle('添加公告');
        win.show();
    }


    //编辑操作
    function edit() {
        var row = datagrid.getSelected();
        if (!row) {
            $.ligerDialog.error('请选择要编辑的公告');
            return false;
        } else {
            form1.setData(row);
        }
        $('#form1').attr('action', "{{url('Notice/edit')}}");
        win._setTitle('编辑 [' + row.title + '] 公告');
        win.show();
    }

    //删除操作
    function del() {
        var row = datagrid.getSelected();
        if (!row) {
            $.ligerDialog.error('请选择要删除的公告');
            return false;
        } else {
            $.ligerDialog.confirm('确定要删除 [ ' + row.title + ' ] 公告?', function (type) {
                if (type) {
                    $('#form1').ajaxForm("{{url('Notice/delete')}}", {id: row.id}, function (response) {
                        if (response.status == 0) {
                            $.ligerDialog.error(response.message);
                        } else {
                            $.ligerDialog.success(response.message);
                            datagrid.reload();
                        }
                    });
                }
            });
        }
    }



    //提交表单
    function submitform() {
        if (form1.valid()) {
            var form_data = form1.getData();
            $.post($('#form1').attr('action'), form_data, function (response) {
                if (response.status == 0) {
                    $.ligerDialog.error(response.message);
                } else {
                    $.ligerDialog.success(response.message);
                    datagrid.reload();
                    win.hide();
                }
            });
        } else {
            $.ligerDialog.error("表单没有通过验证,请检查红色标记的表单项");
        }
    }

    $(function () {
        datagrid = $('#datagrid').ligerGrid({
            width: "100%",
            height: "100%",
            url: "{{url('Notice/index')}}",
            columns: [{
                display: "编号",
                name: "id",
                align: "center",
                width: 40,
                minwidth: 40,
                frozen: true
            }, {
                display: "公告标题",
                name: "title",
                align: "center",
                width: 150,
                minwidth: 60
            }, {
                display: "类型",
                name: "type",
                align: "center",
                width: 80,
                minwidth: 60,
                render:function(rowdata,index,value){
                    var data = {notice:'公告',news:'动态'};
                    return data[value] ? data[value] : '未知';
                }
            }, {
                display: "点击数",
                name: "hits",
                align: "center",
                width: 200,
                minwidth: 60
            }, {
                display: "发布者",
                name: "admin_user",
                align: "center",
                width: 120
            },{
                display: "创建时间",
                name: "create_time",
                align: "center",
                type:'date',
                format:'Y-m-d H:i',
                width: 150
            }, {
                display: "状态",
                name: "status",
                align: "center",
                type:'formatStatus',
                width: 80
            }],
            frozen: true,
            toolbar: {
                items: [
                    {
                        text: "添加",
                        icon: "icon-plus",
                        click: add
                    },
                    {
                        text: "编辑",
                        icon: "icon-edit",
                        click: edit
                    },
                    {
                        text: "删除",
                        icon: "icon-remove",
                        click: del
                    }
                ]
            }
        });

        form1 = $('#form1').ligerForm({
            inputwidth: 200,
            labelwidth: 80,
            space: 10,
            validate: true,
            righttoken: "&nbsp;",
            labelalign: "right",
            align: "left",
            tab: {
                items: [
                    {
                        title: '基本信息',
                        fields: [
                            {
                                id: "id", name: "id", newline: false, type: "hidden", display: "id"
                            }, {
                                id: 'title',
                                name: 'title',
                                newline: true,
                                type: 'textbox',
                                display: '公告标题',
                                aftercontent: '',
                                width: 300,
                                validate: {required: true},
                                editor: {
                                    width: 300
                                }
                            }, {
                                id: 'type',
                                name: 'type',
                                newline: true,
                                type: 'combobox',
                                display: '公告类型',
                                aftercontent: '',
                                width: 100,
                                validate: {required: true},
                                editor: {
                                    width: 100,
                                    cancelable:false,
                                    data: [{id: 'notice', text: '公告'}, {id: 'news', text: '动态'}]
                                }
                            }, {
                                id: "content",
                                name: "content",
                                newline: true,
                                type: "editor",
                                display: "公告内容",
                                aftercontent: "",
                                width: 500,
                                height: 250,
                                validate: {required: true},
                                editor: {
                                    width: 500,
                                    height: 250
                                }
                            }, {
                                id: "status",
                                name: "status",
                                newline: true,
                                type: "combobox",
                                display: "状态",
                                aftercontent: "",
                                width: 80,
                                validate: {required: true},
                                editor: {
                                    width: 150,
                                    initvalue: 'pending',
                                    cancelable: false,
                                    data: [{id: 'on', text: '正常'}, {id: 'off', text: '禁用'}]
                                }
                            }
                        ]
                    },
                    {
                        title:'SEO信息',
                        fields:[
                            {
                                id: "hits",
                                name: "hits",
                                newline: true,
                                type: "integer",
                                display: "点击数",
                                width: 80,
                                height: 30,
                                validate: {required: true},
                                editor: {
                                    width: 80
                                }
                            }, {
                                id: 'link',
                                name: 'link',
                                newline: true,
                                type: 'textbox',
                                display: '跳转连接',
                                aftercontent: '不为空跳转',
                                width: 200,
                                validate: {required: false},
                                editor: {
                                    width: 200
                                }
                            }, {
                                id: 'keyword',
                                name: 'keyword',
                                newline: true,
                                type: 'textbox',
                                display: '关键字',
                                aftercontent: '',
                                width: 300,
                                validate: {required: false},
                                editor: {
                                    width: 300
                                }
                            }, {
                                id: "description",
                                name: "description",
                                newline: true,
                                type: "editor",
                                display: "简介内容",
                                aftercontent: "",
                                width: 500,
                                height: 250,
                                validate: {required: false},
                                editor: {
                                    width: 500,
                                    height:250
                                }
                            }
                        ]
                    }
                ]
            }
        });

        win = $.ligerDialog({
            width: 700,
            height: 615,
            target: $('#win'),
            modal: true,
            show: false,
            title: "公告管理",
            slide: true,
            buttons: [
                {
                    text: "确认提交",
                    icon: "icon-edit",
                    onclick: submitform
                }
            ]
        });
        win.hide();
    });
</script>